bootstrap: tests/bootstrap.php
suites:
  default:
    spec_path: tests/
extensions:
  - PhpSpec\Extension\CodeCoverageExtension
code_coverage:
  format:
    - clover
  output:
    clover: build/reports/phpspec.xml